.mainContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.imageContainer{
    margin: 0 auto;
}
.infoContainer {
    margin: 0 auto;
    border: #677277 solid 3px;
    border-radius: 4%;
}
.name {
    text-align: center;
}
.infoIcons {
    margin-left: 15px
}
.personAvatar {
    border: #677277 solid 3px;
    border-radius: 50%;
    width: 150px;
}
.contactInfo {
    display: flex;
margin: 0 auto;
}
.dataRes {
    text-align: center;
    margin: 0 7px 0 7px;
}